name: Deploy SmartBurguerValue API

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no deploy@189.126.105.76 << 'EOF'
          cd /home/deploy/SmartBurguerValue
          git pull origin main
          cd src/SmartBurguerValueAPI
          dotnet publish -c Release -o /home/deploy/publish
          sudo systemctl restart smartburguer.service
          EOF
